<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddNote(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-froup">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" name="title" ngModel>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-11 form-group">
          <label for="content">Content</label>
          <textarea type="text" id="content" class="form-control" name="content" rows="22" ngModel></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">{{edit ? "Change": "Add"}}</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>
